<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 2</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1 class="welcome-heading">Springboot Openshift</h1>
        <p class="intro-text">Kelompok 2:</p>
        <div class="card">
            <ul>
                <li>Fayyadh</li>
                <li>Pandu</li>
                <li>Bintang</li>
                <li>Najah</li>
                <li>HIlda</li>
            </ul>
        </div>
    </div>
</body>
</html>